<ons-list>
    <ons-list-item modifier="chevron" onclick="menu.setMainPage('search.html', {closeMenu: true})" class="menu-item">
      <ons-icon icon="fa-search"></ons-icon>
      Search
    </ons-list-item>
    <ons-list-item modifier="chevron" onclick="menu.setMainPage('page2.html', {closeMenu: true})" class="menu-item">
      <ons-icon icon="fa-tasks"></ons-icon>
      Categories
    </ons-list-item>
    <ons-list-item modifier="chevron" onclick="menu.setMainPage('page2.html', {closeMenu: true})" class="menu-item">
      <ons-icon icon="fa-map-marker"></ons-icon>
        Location
    </ons-list-item>
    <ons-list-item modifier="chevron" onclick="menu.setMainPage('login.html', {closeMenu: true})" class="menu-item">
      <ons-icon icon="fa-sign-in"></ons-icon>
      Login
    </ons-list-item>
    <ons-list-item modifier="chevron" ng-controller="logoutCtrlr" ng-click="logout()" class="menu-item">
      <ons-icon icon="fa-sign-in"></ons-icon>
      Logout
    </ons-list-item>
    <ons-list-item modifier="chevron" onclick="menu.setMainPage('register.html', {closeMenu: true})" class="menu-item">
      <ons-icon icon="fa-user"></ons-icon>
      Sign Up
    </ons-list-item>
    <ons-list-item modifier="chevron" onclick="menu.setMainPage('about.html', {closeMenu: true})" class="menu-item">
      <ons-icon icon="fa-info"></ons-icon>
      About
    </ons-list-item>
</ons-list>