
<ons-page>

<ons-tabbar position="top">
        <ons-tab page="templates/recipe/information.html" active="true">
          <ons-icon icon="ion-android-information"></ons-icon>
          <span style="font-size: 14px">Information</span>
        </ons-tab>
        <ons-tab page="templates/recipe/procedures.html">
          <ons-icon icon="ion-android-note"></ons-icon>
          <span style="font-size: 14px">Procedures</span>
        </ons-tab>
        <ons-tab page="templates/recipe/ingredients.html">
          <ons-icon icon="ion-spoon"></ons-icon>
          <ons-icon icon="ion-fork"></ons-icon>
          <span style="font-size: 14px">Ingredients</span>
        </ons-tab>
</ons-tabbar>

</ons-page>
