<ons-page>
	<ons-toolbar>
			<div class="center">
				Register New Account
			</div>
              <div class="left">
                <ons-toolbar-button 
                  ng-click="menu.toggleMenu()">
                  <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
                </ons-toolbar-button>
              </div> <!-- Nav Icon -->
      </ons-toolbar>


   <div class="login-form" ng-controller="registerCtrlr">
   	<form name="frmRegister" ng-submit="register(frmRegister.$valid)" novalidate>
    <!-- Personal Info -->
	    	<input type="text" name="fname" class="text-input--underbar" placeholder="First Name" ng-model="fname" required>
	    	<p class="frmError" ng-show="frmRegister.fname.$invalid && frmRegister.fname.$pristine && submitted && !valid">Your first name is required</p>

	      	<input type="text" name="lname" class="text-input--underbar" placeholder="Last Name" value="" ng-model="lname" required>
	      	<p class="frmError" ng-show="frmRegister.lname.$invalid && frmRegister.lname.$pristine && submitted && !valid">Your last name is required</p>

	      	<input type="text" name="mi" class="text-input--underbar" placeholder="Middle Initial" value="" ng-model="mi">
	      	
	      	<span class="frmLbl">Birthday</span>
	      	<input type="date" name="dob" class="text-input--underbar frmInput" ng-model="dob" required>
	      	<p class="frmError" ng-show="frmRegister.dob.$invalid && !frmRegister.dob.$pristine && submitted && !valid">Your birthday is required</p>
				
	      	<span class="frmLbl">Gender</span>
	      	<select name="gender" id="" class="text-input--underbar frmInput" ng-model="gender" required>
	      		<option value="Male">Male</option>
	      		<option value="Female">Female</option>
	      	</select>
	      	<p class="frmError" ng-show="frmRegister.gender.$invalid && frmRegister.gender.$pristine && submitted && !valid">Your gender is required</p>

	      	<input type="text" name="address" class="text-input--underbar" placeholder="Address" value="" ng-model="address" required>
	      	<p class="frmError" ng-show="frmRegister.address.$invalid && frmRegister.address.$pristine && submitted && !valid">Your address is required</p>
    

    <!-- Contact Info -->
	      <input type="text" name="contactno" class="text-input--underbar" placeholder="Contact Number" ng-model="contactno"ng-minlength="8" ng-maxlength="14">
	      <p class="frmError" ng-show="frmRegister.contactno.$invalid && frmRegister.contactno.$pristine && submitted && !valid">Not a valid contact number</p>

	      <input type="email" name="email" class="text-input--underbar" placeholder="Email Address" ng-model="email" required>
		  <p class="frmError" ng-show="frmRegister.email.$invalid && frmRegister.email.$pristine && submitted && !valid">Email address is required and must be valid</p>
    
    
	<!-- Account Info -->
	      <input type="text" name="username" class="text-input--underbar" placeholder="Username" value="" ng-model="username" required ng-minlength="4" ng-maxlength="15">
	      <p class="frmError" ng-show="frmRegister.username.$invalid && submitted && !valid">Username is required</p>
	      <p class="frmError" ng-show="frmRegister.username.$error.minlength">Username is too short</p>
	      <p class="frmError" ng-show="frmRegister.username.$error.maxlength">Username is too long</p>
	      <input type="password" name="password" class="text-input--underbar" placeholder="Password" value="" ng-model="password" ng-required="true">
		  <input type="password" name="confirmpassword" class="text-input--underbar" placeholder="Confirm Password" value="" ng-model="confirmpassword" ng-required="true">
	

      <br><br>
      <button class="button large">Register</button>

   	</form>
   </div>

</ons-page>